<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <script src="http://yui.yahooapis.com/3.10.0/build/yui/yui-min.js"></script>
    <script src="static/jquery.js" charset="utf-8"></script>
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">

      google.load("visualization", "1", {packages:["corechart"]});
    </script>

    <!-- {% load static %}
   <script type="text/javascript" src="{% static "fusioncharts/fusioncharts.js" %}"></script>
   <script type="text/javascript" src="{% static "fusioncharts/themes/fusioncharts.theme.fint.js" %}"></script> -->
    <title>Django Weather!</title>
  </head>
  <body>
        {% csrf_token %}

    <script type="text/javascript">
      $(document).ready(() => {
        console.log('jq');

        $('#subCity').on('click', () => {
          value = $('#city_name').val();
          console.log( $('#city_name').val() );

          $.ajax({
            url: '/todos/cityname/',
            type: 'POST',
            data: value,
            success: function( data ){
              console.log( data );
            },
            error: function( err ) {
              console.log( err );
            } // end success
          }); //end ajax
        });
      });
    </script>

    <!-- <div id="chart1"> {{ output|safe }}

    </div> -->

    <input id="city_name" type="text" name="city_name" value="Minneapolis">
    <button id="subCity">submit</button>

    <!-- wow, how picky, django needs a / on the end: -->
    <!-- <form action="/todos/cityname/" method="post">
      {% csrf_token %}
      <label for="cityname">City: </label>
      <input id="city_name" type="text" name="city_name" value="Minneapolis">
      <input type="submit" value="Get it">
    </form> -->

    <br>
    {{chart.as_html}}


<!-- Hello from {{name}} -->
<!-- {{hist}} -->


Current time: {{current.today}} &emsp;
Temperature: {{current.temp}}
<br>
Description: {{current.desc}} &emsp;
Humidity: {{current.hum}}
<br>
Pressure: {{current.pressure}} &emsp;
Wind: {{current.wind}}



<br>
{{hist}}


<!-- <ul>
  {% for todo in todos %}
    <li><a href="todos/details/{{todo.id}}">{{todo.title}}</a>: {{todo.test}}</li>
  {% endfor %}
</ul> -->

<!-- <p>{{all}}</p> -->


<!-- <ul>
  {% for w in weather %}
    <li>{{w}}</li><br>
  {% endfor %}
</ul> -->




<!-- {{res}} -->

<!-- <ul>
  {% for w in weather.weather %}
    <li>{{w.main}}, {{w.description}}</li>
  {% endfor %}
</ul> -->

<!-- {{req}} -->

<!-- <ul>
  {% for request in req %}
    <li>{{request.actor.avatar_url}}</li>
    <li>{{request}}</li>
  {% endfor %}
</ul> -->

</body>
</html>
