<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <script src="http://yui.yahooapis.com/3.10.0/build/yui/yui-min.js"></script>

    <!-- {% load static %}
   <script type="text/javascript" src="{% static "fusioncharts/fusioncharts.js" %}"></script>
   <script type="text/javascript" src="{% static "fusioncharts/themes/fusioncharts.theme.fint.js" %}"></script> -->
    <title>Django Weather!</title>
  </head>
  <body>

    <!-- <div id="chart1"> {{ output|safe }}

    </div> -->

    {{chart.as_html}}

Hello from {{name}}

<ul>
  {% for todo in todos %}
    <li><a href="todos/details/{{todo.id}}">{{todo.title}}</a>: {{todo.test}}</li>
  {% endfor %}
</ul>

<!-- <p>{{weather.list}}</p> -->


<ul>
  {% for w in weather %}
    <li>{{w}}</li>
  {% endfor %}
</ul>

<!-- {{res}} -->

<!-- <ul>
  {% for w in weather.weather %}
    <li>{{w.main}}, {{w.description}}</li>
  {% endfor %}
</ul> -->

<!-- {{req}} -->

<!-- <ul>
  {% for request in req %}
    <li>{{request.actor.avatar_url}}</li>
    <li>{{request}}</li>
  {% endfor %}
</ul> -->

</body>
</html>
